/* $TimesNewRoman %wrapperPaddingSides {
    padding-left: 100px;
    padding-right: 100px;
} */
.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0px auto; }

.flex-vertical-center {
  display: flex;
  align-items: center; }

.color-write {
  color: white; }

.color-blue {
  color: #1c3051; }

.font-one {
  font-family: "Montserrat"; }

.font-two {
  font-family: "Proxima Nova Cn Lt"; }

.text-big-white {
  color: white; }

.text-big-blue {
  color: #1c3051; }

.text-middle-white {
  color: white; }

.text-middle-blue {
  color: #1c3051; }

body header .header-top {
  padding-top: 27px;
  padding-bottom: 20px;
  background-color: #1c3051; }
  body header .header-top .logo {
    height: 48px;
    width: 80px; }
  body header .header-top .logo-text {
    margin-left: 15px;
    margin-right: 20px; }
    body header .header-top .logo-text a {
      font-family: "Montserrat";
      text-transform: uppercase;
      font-weight: 600;
      color: white; }
      @media (max-width: 767px) {
        body header .header-top .logo-text a {
          font-size: calc( 20.05px + 8.5 * ((100vw - 320px) / $maxWidth)); } }
      @media (min-width: 767px) {
        body header .header-top .logo-text a {
          font-size: calc(20.05px + 5 * (100vw / $maxWidth)); } }
  body header .header-top .header-vertical-line {
    width: 1px;
    height: 70px;
    background-color: #3b5072; }
  body header .header-top .header-vertical-line-after-text {
    margin-left: 20px;
    margin-right: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b5c2d6; }
    @media (max-width: 767px) {
      body header .header-top .header-vertical-line-after-text {
        font-size: calc( 9px + 6.8 * ((100vw - 320px) / $maxWidth)); } }
    @media (min-width: 767px) {
      body header .header-top .header-vertical-line-after-text {
        font-size: calc(9px + 4 * (100vw / $maxWidth)); } }
  body header .header-top nav ul {
    margin-right: 65px;
    padding: 0px;
    display: flex; }
    body header .header-top nav ul li {
      margin-right: 10px;
      list-style-type: none; }
      body header .header-top nav ul li a {
        font-family: "Montserrat";
        text-transform: uppercase;
        color: white; }
        @media (max-width: 767px) {
          body header .header-top nav ul li a {
            font-size: calc( 7.55px + 10.2 * ((100vw - 320px) / $maxWidth)); } }
        @media (min-width: 767px) {
          body header .header-top nav ul li a {
            font-size: calc(7.55px + 6 * (100vw / $maxWidth)); } }
  body header .header-top .header-img-phone {
    height: 21px;
    width: 24px; }
  body header .header-top .header-img-phone-number {
    margin: 0 10px;
    font-family: "Montserrat";
    font-weight: 900; }
    @media (max-width: 767px) {
      body header .header-top .header-img-phone-number {
        font-size: calc( 16.94px + 8.5 * ((100vw - 320px) / $maxWidth)); } }
    @media (min-width: 767px) {
      body header .header-top .header-img-phone-number {
        font-size: calc(16.94px + 5 * (100vw / $maxWidth)); } }
