/* $TimesNewRoman %wrapperPaddingSides {
    padding-left: 100px;
    padding-right: 100px;
} */
.wrapper {
  max-width: 1180px;
  margin: 0px auto; }

.position-relative, body .friend-bonus {
  position: relative; }

.position-absolute-center, body .get-discount .get-discount-grid-time div .get-discout-panel-number, body .friend-bonus .friend-bonus-img-big-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.friend-bonus-img-little-arrow {
  margin: 0 auto; }

.text-center, body .friend-bonus .friend-bonus-map-grid {
  text-align: center; }

.flex-vertical-center {
  display: flex;
  align-items: center; }

.text-inside-button {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 900;
  color: white; }
  @media (max-width: 767px) {
    .text-inside-button {
      font-size: calc( 10.73px + 15.3 * ((100vw - 320px) / 1920)); } }
  @media (min-width: 767px) {
    .text-inside-button {
      font-size: calc( 10.73px + 9 * (100vw / 1920)); } }

.display-block {
  display: block; }

.color-white {
  color: white; }

.color-blue {
  color: #1c3051; }

.color-yellow {
  color: #ff7101; }

.text-true-center {
  position: relative;
  left: 28%; }

.font-montserrat {
  font-family: "Montserrat"; }

.font-proxima-nova {
  font-family: "Proxima Nova Lt"; }

.title-white, .title-blue {
  font-family: "Proxima Nova Cn Bl";
  text-transform: uppercase;
  color: white; }
  @media (max-width: 767px) {
    .title-white, .title-blue {
      font-size: calc( 22.67px + 17 * ((100vw - 320px) / 1920)); } }
  @media (min-width: 767px) {
    .title-white, .title-blue {
      font-size: calc( 22.67px + 10 * (100vw / 1920)); } }

.title-blue {
  color: #1c3051; }

.title-middle-white, .title-middle-white-second {
  font-family: "Proxima Nova Rg";
  text-transform: uppercase;
  color: white; }
  @media (max-width: 767px) {
    .title-middle-white, .title-middle-white-second {
      font-size: calc( 11.06px + 17 * ((100vw - 320px) / 1920)); } }
  @media (min-width: 767px) {
    .title-middle-white, .title-middle-white-second {
      font-size: calc( 11.06px + 10 * (100vw / 1920)); } }

.title-middle-white-second {
  font-weight: 400; }

.text-middle-white, .text-middle-blue {
  color: white; }

.text-middle-blue {
  color: #1c3051; }

.friend-bonus-small-text-blue, .friend-bonus-small-text-yellow {
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #1c3051; }
  @media (max-width: 767px) {
    .friend-bonus-small-text-blue, .friend-bonus-small-text-yellow {
      font-size: calc( 8.6px + 8.5 * ((100vw - 320px) / 1920)); } }
  @media (min-width: 767px) {
    .friend-bonus-small-text-blue, .friend-bonus-small-text-yellow {
      font-size: calc( 8.6px + 5 * (100vw / 1920)); } }

.friend-bonus-small-text-yellow {
  color: #ff7101; }

body header .header-img-background-room {
  background-image: url(../img/header-img-background-room.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 160px; }
  body header .header-img-background-room .header-top {
    padding-top: 27px;
    padding-bottom: 20px;
    background-color: #1c3051; }
    body header .header-img-background-room .header-top .logo {
      height: 48px;
      width: 80px; }
    body header .header-img-background-room .header-top .logo-text {
      margin-left: 15px;
      margin-right: 20px; }
      body header .header-img-background-room .header-top .logo-text a {
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 600;
        line-height: -110px;
        color: white; }
        @media (max-width: 767px) {
          body header .header-img-background-room .header-top .logo-text a {
            font-size: calc( 20.05px + 8.5 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body header .header-img-background-room .header-top .logo-text a {
            font-size: calc( 20.05px + 5 * (100vw / 1920)); } }
    body header .header-img-background-room .header-top .header-vertical-line {
      width: 1px;
      height: 70px;
      background-color: #3b5072; }
    body header .header-img-background-room .header-top .header-vertical-line-after-text {
      margin-left: 20px;
      margin-right: 80px;
      font-weight: bold;
      text-transform: uppercase;
      color: #b5c2d6; }
      @media (max-width: 767px) {
        body header .header-img-background-room .header-top .header-vertical-line-after-text {
          font-size: calc( 9px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body header .header-img-background-room .header-top .header-vertical-line-after-text {
          font-size: calc( 9px + 4 * (100vw / 1920)); } }
    body header .header-img-background-room .header-top nav ul {
      margin-right: 50px;
      padding: 0px;
      display: flex; }
      body header .header-img-background-room .header-top nav ul li {
        margin-right: 20px;
        list-style-type: none; }
        body header .header-img-background-room .header-top nav ul li a {
          font-family: "Montserrat";
          text-transform: uppercase;
          font-weight: 600;
          color: white; }
          @media (max-width: 767px) {
            body header .header-img-background-room .header-top nav ul li a {
              font-size: calc( 7.55px + 10.2 * ((100vw - 320px) / 1920)); } }
          @media (min-width: 767px) {
            body header .header-img-background-room .header-top nav ul li a {
              font-size: calc( 7.55px + 6 * (100vw / 1920)); } }
    body header .header-img-background-room .header-top #show-phone {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer; }
      body header .header-img-background-room .header-top #show-phone summary {
        position: relative;
        display: flex;
        align-items: center; }
        body header .header-img-background-room .header-top #show-phone summary::-webkit-details-marker {
          position: absolute;
          left: 220px;
          color: #ff7101; }
        body header .header-img-background-room .header-top #show-phone summary .header-img-phone {
          height: 21px;
          width: 24px; }
        body header .header-img-background-room .header-top #show-phone summary .header-img-phone-number {
          margin: 0 10px;
          font-family: "Montserrat";
          font-weight: 900; }
          @media (max-width: 767px) {
            body header .header-img-background-room .header-top #show-phone summary .header-img-phone-number {
              font-size: calc( 16.94px + 8.5 * ((100vw - 320px) / 1920)); } }
          @media (min-width: 767px) {
            body header .header-img-background-room .header-top #show-phone summary .header-img-phone-number {
              font-size: calc( 16.94px + 5 * (100vw / 1920)); } }
        body header .header-img-background-room .header-top #show-phone summary .header-img-arrow {
          height: 6px;
          width: 11px; }
        body header .header-img-background-room .header-top #show-phone summary:after {
          list-style-image: url(../img/header-img-arrow.png); }
      body header .header-img-background-room .header-top #show-phone li {
        margin-bottom: 10px;
        list-style: none;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 600;
        color: white; }
        @media (max-width: 767px) {
          body header .header-img-background-room .header-top #show-phone li {
            font-size: calc( 7.55px + 10.2 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body header .header-img-background-room .header-top #show-phone li {
            font-size: calc( 7.55px + 6 * (100vw / 1920)); } }
  body header .header-img-background-room .header-yellow-line {
    width: 100%;
    height: 7px;
    background-color: #ff7101; }
  body header .header-img-background-room .header-main-information .header-heading {
    padding-top: 90px;
    padding-bottom: 40px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 900;
    color: white; }
    @media (max-width: 767px) {
      body header .header-img-background-room .header-main-information .header-heading {
        font-size: calc( 50.78px + 73.1 * ((100vw - 320px) / 1920)); } }
    @media (min-width: 767px) {
      body header .header-img-background-room .header-main-information .header-heading {
        font-size: calc( 50.78px + 43 * (100vw / 1920)); } }
  body header .header-img-background-room .header-main-information .header-button-watch {
    position: relative;
    height: 66px;
    width: 266px;
    margin-top: 60px;
    border-radius: 35px;
    background-color: #ff7101; }
    body header .header-img-background-room .header-main-information .header-button-watch .header-button-watch-inside {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-55%, -50%); }
      body header .header-img-background-room .header-main-information .header-button-watch .header-button-watch-inside p {
        margin-left: 15px; }
    body header .header-img-background-room .header-main-information .header-button-watch .header-button-watch-inside:only-child {
      padding-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center; }
  body header .header-img-background-room .header-main-information .header-main-information-img-man {
    float: right;
    position: relative;
    top: -462px;
    left: 0%; }

body .feedback {
  padding-top: 70px;
  padding-bottom: 75px;
  width: 100%;
  background: radial-gradient(300px 300px at 350px 300px, #ffe000, #ff7101); }
  body .feedback .feedback-form {
    position: relative; }
    body .feedback .feedback-form .feedback-img-girl {
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-40%, -56%); }
    body .feedback .feedback-form #feedback-inside {
      margin-left: 220px; }
      body .feedback .feedback-form #feedback-inside h3 {
        position: absolute; }
      body .feedback .feedback-form #feedback-inside form {
        margin-top: 30px;
        position: relative;
        display: flex; }
        body .feedback .feedback-form #feedback-inside form .feedback-form-input {
          margin-top: 50px;
          padding-left: 20px;
          height: 65px;
          width: 300px;
          background: transparent;
          border: 1px solid white;
          border-radius: 35px;
          font-family: "Montserrat";
          color: white;
          font-weight: 500; }
        body .feedback .feedback-form #feedback-inside form .feedback-form-input:nth-of-type(2) {
          margin-left: 25px;
          margin-right: 25px; }
        body .feedback .feedback-form #feedback-inside form .feedback-form-submit {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(130%, -13%);
          border: none;
          border-radius: 35px;
          width: 200px;
          height: 65px;
          font-family: "Montserrat";
          font-weight: 900;
          text-transform: uppercase;
          background-color: white;
          color: #474747;
          cursor: pointer; }
          @media (max-width: 767px) {
            body .feedback .feedback-form #feedback-inside form .feedback-form-submit {
              font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
          @media (min-width: 767px) {
            body .feedback .feedback-form #feedback-inside form .feedback-form-submit {
              font-size: calc( 10px + 4 * (100vw / 1920)); } }

body .services {
  padding-top: 110px;
  padding-bottom: 107px; }
  body .services .services-title {
    /* margin-bottom: 85px;
            position: relative;
            top: 0%;
            left: 18%; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body .services .services-title span {
      text-align: center; }
  body .services .services-lot-img {
    position: relative;
    display: flex;
    border: 1px solid #ff7101;
    padding: 105px 37.5px 85px;
    width: 100%; }
    body .services .services-lot-img .services-lot-img-title {
      display: flex;
      position: absolute;
      top: -22px;
      left: 250px; }
      body .services .services-lot-img .services-lot-img-title h3 {
        padding: 0 15px;
        font-family: "Proxima Nova Rg";
        font-weight: 100;
        text-transform: uppercase;
        background-color: white;
        color: #1c3051; }
        @media (max-width: 767px) {
          body .services .services-lot-img .services-lot-img-title h3 {
            font-size: calc( 12.2px + 32.3 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .services .services-lot-img .services-lot-img-title h3 {
            font-size: calc( 12.2px + 19 * (100vw / 1920)); } }
      body .services .services-lot-img .services-lot-img-title h3:first-child {
        margin-right: 33px; }
    body .services .services-lot-img figure {
      padding: 0 12.5px; }
      body .services .services-lot-img figure figcaption {
        padding-top: 15px;
        font-family: "Proxima Nova Rg";
        font-weight: 500;
        text-transform: uppercase;
        color: #1c3051; }
        @media (max-width: 767px) {
          body .services .services-lot-img figure figcaption {
            font-size: calc( 8.79px + 8.5 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .services .services-lot-img figure figcaption {
            font-size: calc( 8.79px + 5 * (100vw / 1920)); } }

body .get-free-quote-yellow-line {
  float: right;
  height: 12px;
  width: 704px;
  background-color: #ff7101; }

body .get-free-quote {
  margin-top: 12px;
  padding-top: 90px;
  padding-bottom: 80px;
  background-image: url(../img/get-free-quote-img-background.png);
  background-size: cover;
  background-position: center; }
  body .get-free-quote .get-free-quote-text-form {
    display: grid;
    grid-template-columns: 390px 704px;
    grid-template-rows: auto;
    grid-column-gap: 85px; }
    body .get-free-quote .get-free-quote-text-form article h3 {
      margin-bottom: 70px;
      font-family: "Proxima Nova Rg";
      font-weight: 900;
      text-transform: uppercase; }
      @media (max-width: 767px) {
        body .get-free-quote .get-free-quote-text-form article h3 {
          font-size: calc( 15.06px + 10.2 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-free-quote .get-free-quote-text-form article h3 {
          font-size: calc( 15.06px + 6 * (100vw / 1920)); } }
    body .get-free-quote .get-free-quote-text-form article p {
      font-family: "Proxima Nova Rg";
      font-weight: normal; }
      @media (max-width: 767px) {
        body .get-free-quote .get-free-quote-text-form article p {
          font-size: calc( 12px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-free-quote .get-free-quote-text-form article p {
          font-size: calc( 12px + 4 * (100vw / 1920)); } }
    body .get-free-quote .get-free-quote-text-form form h2 {
      margin-bottom: 40px; }
    body .get-free-quote .get-free-quote-text-form form input {
      margin-top: 19px;
      width: 335px;
      height: 50px;
      background: transparent;
      border: 1px solid #727a88;
      border-radius: 35px; }
    body .get-free-quote .get-free-quote-text-form form .get-free-quote-input-indent {
      margin-right: 30px; }
    body .get-free-quote .get-free-quote-text-form form .input-style-text, body .get-free-quote .get-free-quote-text-form form input, body .get-free-quote .get-free-quote-text-form form select, body .get-free-quote .get-free-quote-text-form .ask-question .ask-question-two-column form input, body .ask-question .ask-question-two-column .get-free-quote .get-free-quote-text-form form input {
      padding: 0 20px;
      font-family: "Montserrat";
      font-weight: bold;
      color: white; }
      @media (max-width: 767px) {
        body .get-free-quote .get-free-quote-text-form form .input-style-text, body .get-free-quote .get-free-quote-text-form form input, body .get-free-quote .get-free-quote-text-form form select, body .get-free-quote .get-free-quote-text-form .ask-question .ask-question-two-column form input, body .ask-question .ask-question-two-column .get-free-quote .get-free-quote-text-form form input {
          font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-free-quote .get-free-quote-text-form form .input-style-text, body .get-free-quote .get-free-quote-text-form form input, body .get-free-quote .get-free-quote-text-form form select, body .get-free-quote .get-free-quote-text-form .ask-question .ask-question-two-column form input, body .ask-question .ask-question-two-column .get-free-quote .get-free-quote-text-form form input {
          font-size: calc( 10px + 4 * (100vw / 1920)); } }
    body .get-free-quote .get-free-quote-text-form form select {
      margin-top: 19px;
      width: 100%;
      height: 50px;
      background: transparent;
      border: 1px solid #727a88;
      border-radius: 35px; }
    body .get-free-quote .get-free-quote-text-form form #user-text {
      width: 100%;
      height: 140px; }
    body .get-free-quote .get-free-quote-text-form form h4 {
      position: relative;
      left: -20px;
      margin-top: 30px; }
    body .get-free-quote .get-free-quote-text-form form #get-free-quote-form-submit {
      background-color: #ff7101;
      font-weight: 900;
      cursor: pointer; }

body .few-of-us-in-numbers {
  padding-top: 110px;
  padding-bottom: 180px; }
  body .few-of-us-in-numbers .few-of-us-in-numbers-yellow-line {
    z-index: -6;
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 1px;
    width: 100%;
    background-color: #ff7101; }
  body .few-of-us-in-numbers .wrapper h3 {
    margin-bottom: 90px; }
  body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 190px);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 130px; }
    body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid div {
      background-color: white; }
    body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-number {
      font-family: "Proxima Nova Bl";
      color: #ff7101; }
      @media (max-width: 767px) {
        body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-number {
          font-size: calc( 29.87px + 68 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-number {
          font-size: calc( 29.87px + 40 * (100vw / 1920)); } }
    body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-text {
      font-family: "Proxima Nova Rg";
      text-transform: uppercase;
      color: #1c3051; }
      @media (max-width: 767px) {
        body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-text {
          font-size: calc( 15px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .few-of-us-in-numbers .wrapper .few-of-us-in-numbers-grid .few-of-us-in-numbers-grid-text {
          font-size: calc( 15px + 4 * (100vw / 1920)); } }

body .get-discount {
  padding-top: 100px;
  padding-bottom: 85px;
  background-image: url(../img/get-discount-happy-peaple.png);
  background-size: cover;
  background-position: center; }
  body .get-discount .get-discount-grid-time {
    margin-top: 90px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 45px;
    grid-row-gap: 30px; }
    body .get-discount .get-discount-grid-time .get-discount-grid-time-text {
      font-family: "Proxima Nova Rg";
      font-weight: 600;
      text-transform: uppercase;
      color: white; }
      @media (max-width: 767px) {
        body .get-discount .get-discount-grid-time .get-discount-grid-time-text {
          font-size: calc( 11.04px + 8.5 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-discount .get-discount-grid-time .get-discount-grid-time-text {
          font-size: calc( 11.04px + 5 * (100vw / 1920)); } }
    body .get-discount .get-discount-grid-time div .get-discout-panel-number {
      font-family: "HelveticaNeueCyr";
      font-weight: bold;
      font-style: normal;
      color: white; }
      @media (max-width: 767px) {
        body .get-discount .get-discount-grid-time div .get-discout-panel-number {
          font-size: calc( 50.66px + 129.2 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-discount .get-discount-grid-time div .get-discout-panel-number {
          font-size: calc( 50.66px + 76 * (100vw / 1920)); } }
    body .get-discount .get-discount-grid-time div .get-discout-panel-betwe-number {
      position: absolute;
      top: 33px;
      left: 0%;
      height: 2px;
      width: 100%;
      background-color: #321c0a; }
    body .get-discount .get-discount-grid-time div:last-child {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 5; }
    body .get-discount .get-discount-grid-time #get-discount-btn {
      padding: 20px 75px;
      border: 1px solid white;
      border-radius: 40px;
      background: transparent;
      font-family: "Montserrat";
      font-weight: 900;
      text-transform: uppercase;
      color: white;
      cursor: pointer; }
      @media (max-width: 767px) {
        body .get-discount .get-discount-grid-time #get-discount-btn {
          font-size: calc( 15.73px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .get-discount .get-discount-grid-time #get-discount-btn {
          font-size: calc( 15.73px + 4 * (100vw / 1920)); } }

body .friend-bonus {
  padding-top: 95px;
  padding-bottom: 100px; }
  body .friend-bonus .friend-bonus-map-top-text {
    margin-top: 70px;
    margin-bottom: 80px; }
  body .friend-bonus .friend-bonus-img-big-arrow {
    top: 340px; }
  body .friend-bonus .friend-bonus-map-grid {
    margin-bottom: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto 160px auto 160px auto;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 10px;
    grid-row-gap: 20px; }
    body .friend-bonus .friend-bonus-map-grid div:nth-of-type(1) {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2; }
    body .friend-bonus .friend-bonus-map-grid div:nth-of-type(3) {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2; }
    body .friend-bonus .friend-bonus-map-grid .friend-bonus-map-grid-text-one {
      margin-right: 165px; }
    body .friend-bonus .friend-bonus-map-grid .friend-bonus-map-grid-text-two {
      margin-left: 180px; }
  body .friend-bonus .friend-bonus-map-bottom-text {
    max-width: 790px;
    margin: 0 auto;
    font-family: "Proxima Nova Rg";
    font-weight: normal;
    font-style: normal;
    color: #ff7101; }
    @media (max-width: 767px) {
      body .friend-bonus .friend-bonus-map-bottom-text {
        font-size: calc( 14px + 13.6 * ((100vw - 320px) / 1920)); } }
    @media (min-width: 767px) {
      body .friend-bonus .friend-bonus-map-bottom-text {
        font-size: calc( 14px + 8 * (100vw / 1920)); } }

body .our-company-yellow-line {
  height: 20px;
  width: 704px;
  background-color: #ff7101; }

body .our-company {
  padding-top: 80px;
  padding-bottom: 60px;
  background-image: url(../img/our-company-background.png);
  background-size: cover;
  background-position: center; }
  body .our-company h2 {
    margin-bottom: 50px; }
  body .our-company .our-company-inside {
    display: flex; }
    body .our-company .our-company-inside img {
      margin-right: 60px; }
    body .our-company .our-company-inside .our-company-inside-text {
      font-family: "Proxima Nova Rg";
      font-weight: 600;
      font-style: normal;
      color: white; }
      @media (max-width: 767px) {
        body .our-company .our-company-inside .our-company-inside-text {
          font-size: calc( 12px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .our-company .our-company-inside .our-company-inside-text {
          font-size: calc( 12px + 4 * (100vw / 1920)); } }
    body .our-company .our-company-inside .our-company-inside-text:nth-of-type(1) {
      margin-bottom: 35px; }
  body .our-company .our-company-man-ceo {
    margin-top: 48px;
    border: 1px solid #ff7101;
    padding: 15px 50px 35px 30px; }
    body .our-company .our-company-man-ceo div {
      margin-top: 25px; }
      body .our-company .our-company-man-ceo div h3 {
        font-family: "Proxima Nova Bl";
        text-transform: uppercase;
        color: white; }
        @media (max-width: 767px) {
          body .our-company .our-company-man-ceo div h3 {
            font-size: calc( 14.09px + 6.8 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .our-company .our-company-man-ceo div h3 {
            font-size: calc( 14.09px + 4 * (100vw / 1920)); } }
      body .our-company .our-company-man-ceo div p {
        font-family: "Proxima Nova Rg";
        color: white; }
        @media (max-width: 767px) {
          body .our-company .our-company-man-ceo div p {
            font-size: calc( 10px + 10.2 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .our-company .our-company-man-ceo div p {
            font-size: calc( 10px + 6 * (100vw / 1920)); } }

body .questions {
  padding-top: 90px;
  padding-bottom: 70px; }
  body .questions details:nth-of-type(1) {
    margin-top: 70px; }
  body .questions details {
    margin-top: 25px; }
    body .questions details summary::-webkit-details-marker {
      display: none; }
    body .questions details > summary {
      list-style: none; }
    body .questions details summary:before {
      position: relative;
      top: 6px;
      content: url(../img/questions-img-details-open.png);
      margin-right: 35px;
      cursor: pointer; }
    body .questions details[open] summary:before {
      content: url(../img/questions-img-details-close.png);
      cursor: pointer; }
    body .questions details .questions-text-title {
      font-family: "Montserrat";
      font-weight: 500;
      text-transform: uppercase;
      font-style: normal;
      color: #1c3051; }
      @media (max-width: 767px) {
        body .questions details .questions-text-title {
          font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body .questions details .questions-text-title {
          font-size: calc( 10px + 4 * (100vw / 1920)); } }
    body .questions details .questions-details {
      position: relative;
      display: inline-block; }
      body .questions details .questions-details .questions-details-side-line {
        position: absolute;
        top: 15px;
        left: 10px;
        height: 100%;
        width: 1px;
        background-color: #c6cbd3; }
      body .questions details .questions-details .questions-text {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 100px;
        font-family: "Montserrat";
        font-weight: normal;
        font-style: normal;
        color: #1c3051; }
        @media (max-width: 767px) {
          body .questions details .questions-details .questions-text {
            font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .questions details .questions-details .questions-text {
            font-size: calc( 10px + 4 * (100vw / 1920)); } }

body .ask-question {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(../img/ask-question-background.png);
  background-size: cover;
  background-position: center; }
  body .ask-question .ask-question-two-column {
    display: flex;
    justify-content: space-between; }
    body .ask-question .ask-question-two-column div:nth-of-type(1) {
      width: 400px; }
      body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-title {
        margin-bottom: 40px;
        font-family: "Proxima Nova Bl";
        text-transform: uppercase;
        color: white; }
        @media (max-width: 767px) {
          body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-title {
            font-size: calc( 22.67px + -2.737 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-title {
            font-size: calc( 22.67px + -1.61 * (100vw / 1920)); } }
      body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-text {
        font-family: "Proxima Nova Rg";
        text-transform: uppercase;
        color: white; }
        @media (max-width: 767px) {
          body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-text {
            font-size: calc( 22.67px + -2.737 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .ask-question .ask-question-two-column div:nth-of-type(1) .ask-question-text {
            font-size: calc( 22.67px + -1.61 * (100vw / 1920)); } }
    body .ask-question .ask-question-two-column form {
      width: 700px; }
      body .ask-question .ask-question-two-column form input {
        border: 1px solid #d1d1d1;
        padding: 0 20px;
        border-radius: 35px;
        background: transparent;
        color: white; }
      body .ask-question .ask-question-two-column form input:last-child {
        float: right;
        margin-top: 18px;
        border: none;
        border-radius: 35px;
        height: 50px;
        width: 180px;
        text-align: center;
        font-family: "Montserrat";
        font-weight: bold;
        text-transform: uppercase;
        background: transparent;
        background-color: white;
        color: #1c3051;
        cursor: pointer; }
        @media (max-width: 767px) {
          body .ask-question .ask-question-two-column form input:last-child {
            font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
        @media (min-width: 767px) {
          body .ask-question .ask-question-two-column form input:last-child {
            font-size: calc( 10px + 4 * (100vw / 1920)); } }
      body .ask-question .ask-question-two-column form #ask-full-name {
        height: 50px;
        width: 700px; }
      body .ask-question .ask-question-two-column form #ask-phone, body .ask-question .ask-question-two-column form #ask-email {
        margin: 20px 0;
        margin-right: 20px;
        height: 50px;
        width: 338px; }
      body .ask-question .ask-question-two-column form #ask-email {
        margin-right: 0px; }
      body .ask-question .ask-question-two-column form #ask-question {
        height: 140px;
        width: 700px; }

body .slider-reviews {
  position: relative;
  padding-top: 90px;
  padding-bottom: 550px; }
  body .slider-reviews .slider {
    z-index: 100; }
    body .slider-reviews .slider * {
      box-sizing: border-box; }
    body .slider-reviews .slider body {
      font-family: Verdana, sans-serif;
      margin: 0; }
    body .slider-reviews .slider .slideshow-container {
      position: relative; }
      body .slider-reviews .slider .slideshow-container .mySlides {
        display: none;
        padding: 80px;
        text-align: center; }
        body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside {
          display: flex;
          justify-content: space-between; }
          body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block {
            width: 370px;
            display: flex; }
            body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .mySlides-inside-photo {
              margin-left: 15px;
              margin-right: 15px;
              height: 105px;
              width: 105px; }
            body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text {
              top: 10px;
              position: relative; }
              body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text span {
                display: flex;
                align-items: center; }
                body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text span img {
                  margin-right: 10px;
                  height: 31px;
                  width: 31px; }
                body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text span .slider-title {
                  font-family: "Montserrat";
                  text-transform: uppercase;
                  color: #ff7101; }
                  @media (max-width: 767px) {
                    body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text span .slider-title {
                      font-size: calc( 10.78px + 6.8 * ((100vw - 320px) / 1920)); } }
                  @media (min-width: 767px) {
                    body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text span .slider-title {
                      font-size: calc( 10.78px + 4 * (100vw / 1920)); } }
              body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text .slider-text {
                display: block;
                margin-top: 10px;
                font-weight: bold;
                text-align: left;
                line-height: 27.71px;
                color: #1c3051; }
                @media (max-width: 767px) {
                  body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text .slider-text {
                    font-size: calc( 8.93px + 6.8 * ((100vw - 320px) / 1920)); } }
                @media (min-width: 767px) {
                  body .slider-reviews .slider .slideshow-container .mySlides .mySlides-inside .mySlides-inside-block .slider-right-text .slider-text {
                    font-size: calc( 8.93px + 4 * (100vw / 1920)); } }
    body .slider-reviews .slider .prev,
    body .slider-reviews .slider .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -30px;
      padding: 16px;
      color: #1c3051;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
      user-select: none; }
    body .slider-reviews .slider .next {
      position: absolute;
      right: 0;
      border-radius: 3px 0 0 3px; }
    body .slider-reviews .slider .prev:hover,
    body .slider-reviews .slider .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
      color: white; }
    body .slider-reviews .slider .dot-container {
      text-align: center;
      padding: 20px; }
    body .slider-reviews .slider .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 15px;
      background-color: #ff7101;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    body .slider-reviews .slider .active,
    body .slider-reviews .slider .dot:hover {
      background-color: #1c3051; }
  body .slider-reviews .slider-reviews-background {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 300px;
    z-index: -1; }

body .map img {
  height: 100%;
  width: 100%; }

body footer {
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #1c3051; }
  body footer div {
    display: flex;
    align-items: center; }
    body footer div .this-website {
      font-family: "Proxima Nova Bl";
      font-weight: 900;
      font-style: normal;
      color: white; }
      @media (max-width: 767px) {
        body footer div .this-website {
          font-size: calc( 14.38px + 10.2 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body footer div .this-website {
          font-size: calc( 14.38px + 6 * (100vw / 1920)); } }
    body footer div img:nth-of-type(1) {
      margin-left: 60px;
      margin-right: 20px; }
    body footer div .link-webcase {
      margin-left: 575px;
      font-family: "Proxima Nova Rg";
      font-weight: bold;
      color: white; }
      @media (max-width: 767px) {
        body footer div .link-webcase {
          font-size: calc( 10px + 6.8 * ((100vw - 320px) / 1920)); } }
      @media (min-width: 767px) {
        body footer div .link-webcase {
          font-size: calc( 10px + 4 * (100vw / 1920)); } }
