$color-blue: #1c3051;
$colro-yellow: #ff7101;
$color-white: white;
/* $TimesNewRoman %wrapperPaddingSides {
    padding-left: 100px;
    padding-right: 100px;
} */

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0px auto;
}
.color-write {
    color: white;
}
