//! fonrs-variable
$font-montserrat: "Montserrat";
$font-proxima-nova-rg: "Proxima Nova Rg";
$font-proxima-nova-excn-rg: "Proxima Nova ExCn Rg";
$font-proxima-nova-lt: "Proxima Nova Lt";
$font-proxima-nova-bl: "Proxima Nova Bl";
$font-proxima-nova-black: "Proxima Nova Cn Bl";
//! colorvariable
$color-blue: #1c3051;
$color-light-blue: #3b5072;
$colro-yellow: #ff7101;
$color-light-yellow: #ffe000;
$color-white: white;
$color-gray: #727a88;

$maxWidth: 1920;
$maxWrapper: 1180px;
/* $TimesNewRoman %wrapperPaddingSides {
    padding-left: 100px;
    padding-right: 100px;
} */

//@include adaptiv-font(, );

@mixin adaptiv-font($pcSize, $modSize) {
    $addSize: $pcSize - $modSize;
    $addModSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addModSize} * ((100vw - 320px) / #{$maxWidth})
        );
    }
    @media (min-width: 767px) {
        font-size: calc(
            #{$modSize + px} + #{$addSize} * (100vw / #{$maxWidth})
        );
    }
}

@mixin indent($what, $px) {
    $result: $px / $maxWidth * 100;
    $what: #{$result + px};
}

//! all style
.wrapper {
    //todo padding: 0 100px;
    max-width: $maxWrapper;
    margin: 0px auto;
}
.position-relative {
    position: relative;
}
.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-center {
    text-align: center;
}
.flex-vertical-center {
    display: flex;
    align-items: center;
}
.text-inside-button {
    font-family: $font-montserrat;
    @include adaptiv-font(19.73, 10.73);
    text-transform: uppercase;
    font-weight: 900;
    color: $color-white;
}
.color-white {
    color: $color-white;
}
.color-blue {
    color: $color-blue;
}
//! fonts-classes
.text-true-center {
    position: relative;
    left: 28%;
}
.font-montserrat {
    font-family: $font-montserrat;
}
.font-proxima-nova {
    font-family: $font-proxima-nova-lt;
}
//todo fonts
.title-white {
    font-family: $font-proxima-nova-black;
    @include adaptiv-font(32.67, 22.67);
    text-transform: uppercase;
    color: $color-white;
}
.title-blue {
    @extend .title-white;
    color: $color-blue;
}
.title-middle-white {
    font-family: $font-proxima-nova-rg;
    @include adaptiv-font(21.06, 11.06);
    text-transform: uppercase;
    color: $color-white;
}
.title-middle-white-second {
    @extend .title-middle-white;
    font-weight: 400;
}
//!!!!!!!!!!!
.text-middle-white {
    color: $color-white;
}
.text-middle-blue {
    @extend .text-middle-white;
    color: $color-blue;
}

body {
    header {
        .header-img-background-room {
            background-image: url(../img/header-img-background-room.png);
            background-size: cover;
            background-position: center;
            padding-bottom: 160px;
            .header-top {
                padding-top: 27px;
                padding-bottom: 20px;
                background-color: $color-blue;
                .logo {
                    height: 48px;
                    width: 80px;
                }
                .logo-text {
                    margin-left: 15px;
                    margin-right: 20px;
                    a {
                        font-family: $font-montserrat;
                        text-transform: uppercase;
                        @include adaptiv-font(25.05, 20.05);
                        font-weight: 600;
                        color: $color-white;
                    }
                }
                .header-vertical-line {
                    width: 1px;
                    height: 70px;
                    background-color: $color-light-blue;
                }
                .header-vertical-line-after-text {
                    margin-left: 20px;
                    margin-right: 80px;
                    @include adaptiv-font(13, 9);
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #b5c2d6;
                }
                nav {
                    ul {
                        margin-right: 55px;
                        padding: 0px;
                        display: flex;
                        li {
                            margin-right: 20px;
                            list-style-type: none;
                            a {
                                font-family: $font-montserrat;
                                @include adaptiv-font(13.55, 7.55);
                                text-transform: uppercase;
                                font-weight: 600;
                                color: $color-white;
                            }
                        }
                    }
                }
                .header-img-phone {
                    height: 21px;
                    width: 24px;
                }
                .header-img-phone-number {
                    margin: 0 10px;
                    font-family: $font-montserrat;
                    @include adaptiv-font(21.94, 16.94);
                    font-weight: 900;
                }
            }
            .header-yellow-line {
                width: 100%;
                height: 7px;
                background-color: $colro-yellow;
            }
            .header-main-information {
                .header-heading {
                    padding-top: 90px;
                    padding-bottom: 40px;
                    font-family: $font-montserrat;
                    @include adaptiv-font(93.78, 50.78);
                    text-transform: uppercase;
                    font-weight: 900;
                    color: $color-white;
                }
                .header-button-watch {
                    position: relative;
                    height: 66px;
                    width: 266px;
                    margin-top: 60px;
                    border-radius: 35px;
                    background-color: $colro-yellow;
                    .header-button-watch-inside {
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-55%, -50%);
                        p {
                            margin-left: 15px;
                        }
                    }
                    .header-button-watch-inside:only-child {
                        padding-left: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .header-main-information-img-man {
                    float: right;
                    position: relative;
                    top: -462px;
                    left: 0%;
                }
            }
        }
    }
    .feedback {
        padding-top: 70px;
        padding-bottom: 75px;
        width: 100%;
        background: radial-gradient(
            300px 300px at 350px 300px,
            $color-light-yellow,
            $colro-yellow
        );
        .feedback-form {
            position: relative;
            .feedback-img-girl {
                position: absolute;
                top: 50%;
                left: 0%;
                transform: translate(-40%, -57%);
            }
            #feedback-inside {
                margin-left: 220px;
                h3 {
                    position: absolute;
                }
                form {
                    margin-top: 30px;
                    position: relative;
                    display: flex;
                    .feedback-form-input {
                        margin-top: 50px;
                        padding-left: 20px;
                        height: 60px;
                        width: 300px;
                        background: transparent;
                        border: 1px solid $color-white;
                        border-radius: 35px;
                        font-family: $font-montserrat;
                        color: $color-white;
                        font-weight: 500;
                    }
                    .feedback-form-input:nth-of-type(2) {
                        margin-left: 25px;
                        margin-right: 25px;
                    }
                    .feedback-form-submit {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(130%, -8%);
                        border: none;
                        border-radius: 35px;
                        width: 200px !important;
                        height: 60px !important;
                        font-family: $font-montserrat;
                        @include adaptiv-font(14, 10);
                        font-weight: 900;
                        text-transform: uppercase;
                        background-color: $color-white;
                        color: #474747;
                    }
                }
            }
        }
    }
    .services {
        padding-top: 110px;
        padding-bottom: 107px;
        h2 {
            margin-bottom: 85px;
            position: relative;
            top: 0%;
            left: 18%;
        }
        .services-lot-img {
            position: relative;
            display: flex;
            border: 1px solid $colro-yellow;
            padding: 105px 37.5px 85px;
            .services-lot-img-title {
                display: flex;
                position: absolute;
                top: -22px;
                left: 250px;
                h3 {
                    padding: 0 15px;
                    font-family: $font-proxima-nova-rg;
                    @include adaptiv-font(31.2, 12.2);
                    font-weight: 100;
                    text-transform: uppercase;
                    background-color: $color-white;
                    color: $color-blue;
                }
                h3:first-child {
                    margin-right: 33px;
                }
            }
            figure {
                padding: 0 12.5px;
                figcaption {
                    padding-top: 15px;
                    font-family: $font-proxima-nova-rg;
                    @include adaptiv-font(13.79, 8.79);
                    font-weight: 500;
                    text-transform: uppercase;
                    color: $color-blue;
                }
            }
        }
    }
    .get-free-quote-yellow-line {
        float: right;
        height: 12px;
        width: 704px;
        background-color: $colro-yellow;
    }

    .get-free-quote {
        margin-top: 12px;
        padding-top: 90px;
        padding-bottom: 80px;
        background-image: url(../img/get-free-quote-img-background.png);
        background-size: cover;
        background-position: center;
        .get-free-quote-text-form {
            display: grid;
            grid-template-columns: 390px 704px;
            grid-template-rows: auto;
            grid-column-gap: 85px;
            article {
                h3 {
                    margin-bottom: 70px;
                    font-family: $font-proxima-nova-rg;
                    @include adaptiv-font(21.06, 15.06);
                    font-weight: 900;
                    text-transform: uppercase;
                }
                p {
                    font-family: $font-proxima-nova-rg;
                    @include adaptiv-font(16, 12);
                    font-weight: normal;
                }
            }
            form {
                h2 {
                    margin-bottom: 40px;
                }
                input {
                    margin-top: 19px;
                    width: 335px;
                    height: 50px;
                    background: transparent;
                    border: 1px solid $color-gray;
                    border-radius: 35px;
                    @extend .input-style-text;
                }
                .get-free-quote-input-indent {
                    margin-right: 30px;
                }
                .input-style-text {
                    padding: 0 20px;
                    font-family: $font-montserrat;
                    @include adaptiv-font(14, 10);
                    font-weight: bold;
                    color: $color-white;
                }
                select {
                    margin-top: 19px;
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    border: 1px solid $color-gray;
                    border-radius: 35px;
                    @extend .input-style-text;
                    appearance: none;
                    //todo нужно убрать маркет!!!!!!!!!!!!!!!!!!!!!!!
                }
                #user-text {
                    width: 100%;
                    height: 140px;
                }
                h4 {
                    position: relative;
                    left: -20px;
                    margin-top: 30px;
                }
                #get-free-quote-form-submit {
                    background-color: $colro-yellow;
                    font-weight: 900;
                }
            }
        }
    }
    .few-of-us-in-numbers {
        padding-top: 110px;
        padding-bottom: 180px;
        .wrapper {
            h3 {
                margin-bottom: 90px;
            }
            .few-of-us-in-numbers-yellow-line {
                z-index: -6;
                position: relative;
                top: 120px;
                left: -400px;
                height: 1px;
                width: 2000px;
                background-color: $colro-yellow;
            }
            .few-of-us-in-numbers-grid {
                display: grid;
                justify-content: center;
                grid-template-columns: repeat(4, 190px);
                grid-template-rows: repeat(3, auto);
                grid-column-gap: 130px;
                div {
                    background-color: white;
                }
                .few-of-us-in-numbers-grid-number {
                    font-family: $font-proxima-nova-bl;
                    @include adaptiv-font(69.87, 29.87);
                    color: $colro-yellow;
                }
                .few-of-us-in-numbers-grid-text {
                    font-family: $font-proxima-nova-rg;
                    @include adaptiv-font(19, 15);
                    text-transform: uppercase;
                    color: $color-blue;
                }
            }
        }
    }
}
//      few-of-us-in-numbers-img-.png
